/*Sean*/
body{
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:40vh;
    display: flex;
    margin:0;
    padding: 0;

}
/*Sean*/
.title{
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Sean*/
.pa{
    color:orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Sean*/
nav ul li a:hover {
  color: blue;
}
/*Sean*/
#navbar{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-transform: uppercase;
    overflow:hidden;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,00.25);
    background-color: orangered;
    padding: 20px;
    align-items: center;
    position:relative;
    justify-content: space-between;
    color:white;

}
/*Sean*/
nav.underline ul li a,
nav.fill ul li a {
  position: relative;
}
/*Sean*/
nav.underline ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
/*Sean*/
nav.stroke ul li a:hover:after {
  width: 100%;
}
/*Sean*/
.navigation{
    display: flex;
    list-style-type: none;
}
/*Sean*/
li{
    opacity:1;
    list-style-type: none;
    color:white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Sean*/
.parent{
    padding:0 10px;
    cursor: pointer;
}
/*Sean*/
li a{
    font-size: 17px;
    padding:0 5px;

}
/*Sean*/
.link{
    position:relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color:white;   
}