/*hamburger menu for timetable*/
.menu{
    overflow: hidden;
    background-color: orangered;
    position:relative;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,00.25);
    text-transform: uppercase;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.menu #linksTwo{
    display: none;
}

.menu a{
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;


}

menu a.icon{
    background-color: orangered;
    display: block;
    position: relative;
    right:0;
    top:0;
}

.menu a:hover{
    color: blue;
    transition: all 0.3s ease-in-out;
}

.anchor{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.active{
    background-color:blue;
    color: orangered;
}

/*kevin*/
tr:nth-child(even) td {background: #f2f2f2}

table{
	border-collapse: collapse;
}
table td, table th{
	border: 1px solid black;
  text-align: left;
}
table thead{
	background:#ccc;
}
table,
th,
td {
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}







.container{
    margin: auto;


}