/*Sean*/
body{
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:40vh;
    display: flex;
    margin:0;
    padding: 0;

}
/*Sean*/
.title{
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Sean*/
.pa{
    color:orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Sean*/
nav ul li a:hover {
  color: blue;
}
/*Sean*/
#navbar{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-transform: uppercase;
    overflow:hidden;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,00.25);
    background-color: orangered;
    padding: 20px;
    align-items: center;
    position:relative;
    justify-content: space-between;
    color:white;

}
/*Sean*/
nav.underline ul li a,
nav.fill ul li a {
  position: relative;
}
/*Sean*/
nav.underline ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
/*Sean*/
nav.stroke ul li a:hover:after {
  width: 100%;
}
/*Sean*/
.navigation{
    display: flex;
    list-style-type: none;
}
/*Sean*/
li{
    opacity:1;
    list-style-type: none;
    color:white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Sean*/
.parent{
    padding:0 10px;
    cursor: pointer;
}
/*Sean*/
li a{
    font-size: 17px;
    padding:0 5px;

}
/*Sean*/
.link{
    position:relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color:white;   
}
/*Wisdom. Style for weather page*/
/*@reference https://www.youtube.com/@DesignWeb*/
.bod{
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #343434;
}
.holder{
    width: 26%;
}
.card{
    border-radius: 50px;
    background: #343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    padding: 3%;
    text-align: center;
}
.card h4{
    font-weight: 4rem;
    font-size: 2rem;
    margin: 1rem 0;
}
img#icon{
    width: 20%;
}
h5{
    text-transform: capitalize;
}
button.refresh{
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border: 0;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 10px 4px 18px #252525, 5px 5px 18px #4a4a4a;
    transition: 0.3s;
    background: transparent;
    color: #9c9c9d;
}
button.refresh:hover{
    box-shadow: inset 10px 4px 18px #252525, 5px 5px 10px #4a4a4a;
}

/*Presley*/
#to, #from{
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}
/*Presley*/
#route-container{
    border: 1px solid black;
    border-radius: 20px;
    padding: 25px;
    background-color: grey;
    position: absolute;
    top:300px;
    left: 35px;
}
/*Presley*/
#map{
    position: absolute;
    top: 700px;
    width: 900px;
    height:400px;
}
/*Presley*/
@media only screen and (max-width: 1450px) {
    #map {
      position: absolute;
      top:750px;
    }
}
/*Presley*/
td{
        border: solid;
        border-width: 1px ;
}
/*Presley*/
.jsonBus{
    position: relative;
}
/*Presley*/
.pbody{
    height: 70vh;
}
.pnav

  
  /*kevin*/
/*kevin*/

.fareHeader{
    text-align: center;
}
tr:nth-child(even) td {background: #f2f2f2}

table{
	border-collapse: collapse;
}
table td, table th{
	border: 1px solid black;
  text-align: left;
}
table thead{
	background:#ccc;
}